<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav th:fragment="navbar" class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">Navbar</a>
        <div class="d-flex">
            <button class="btn btn-outline-primary me-2" type="submit">Login</button>
            <button class="btn btn-outline-success" type="submit">Sign-up</button>
        </div>
    </div>
</nav>

</body>
</html>