<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head('Sign-Up')"></head>
<body>
<!--Navbar-->
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="card container-fluid mt-4" style="height: 100%; width: 50%">
    <header th:replace="partials/header :: header('Register')"></header>
    <form class="container p-1" th:action="@{/sign-up}" method="POST" th:object="${user}">
        <div class="mb-3">
            <input type="text" class="form-control" id="username" name="username" th:field="*{username}" placeholder="Username">
        </div>
        <div class="mb-3">
            <input type="email" class="form-control" id="email" name="email" th:field="*{email}" placeholder="Email">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="password" name="password" th:field="*{password}" placeholder="Password">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="confirm" name="confirm" placeholder="Confirm Password">
        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary edit-btn">Register</button>
        </div>
    </form>
</div>

<!--Scripts-->
<script th:replace="partials/scripts :: scripts"></script>
</body>
</html>